Package: com.minis.lockscreengradientclock
Name: 88 液态锁屏时间渐变
Version: 1.7.5
Architecture: iphoneos-arm64
Description: Configurable Lock Screen clock gradient.
Maintainer: MoWang
Author: MoWang
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
