Package: com.minis.lockscreengradientclock
Name: 独立锁屏时间渐变
Version: 2.0.18
Architecture: iphoneos-arm64
Description: Configurable Lock Screen clock gradient.
Maintainer: MoWang
Author: MoWang
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
