Package: com.minis.lockscreengradientclock
Name: LockScreen Gradient Clock
Version: 1.3.0
Architecture: iphoneos-arm64
Description: Configurable Lock Screen clock gradient.
Maintainer: Minis
Author: Minis
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
